<div class="row clearfix bread">
    <div class="constraint">
        <div class="column full">
            <ul>
                <li><a href="">Lesson 1</a>/</li>
                <li><a href="">Lesson 2</a>/</li>
                <li><a href="">Lesson 3</a>/</li>
                <li><a href="">Lesson 4</a>/</li>
                <li><a href="">Lesson 5</a>/</li>
                <li class="on"><a href="">Lesson 6</a></li>
            </ul>
        </div>
    </div>
</div>