<div class="chat">
	<div class="user">
		<img src="images/online_default.png">
		<p>Xavier Henry</p>
	</div>
	<div class="chat-texts">
		<ul>
			<li class="user">Hello!</li>
			<li class="partner">Hello!</li>
		</ul>
	</div>
	<div class="chat-input">
		<input type="text" placeholder="reply" />
	</div>
</div>