<ul class="countries">
    <li>
        <img src="images/china.png">
        <label>Chinese</label>    
    </li>
    <li>
        <img src="images/usa.png">
        <label>English</label>
    </li>
    <li>
        <img src="images/france.png">
        <label>Chinese</label>
    </li>   
    <li>
        <img src="images/germany.png">
        <label>Chinese</label>
    </li>
    <li>
        <img src="images/mexico.png">
        <label>Chinese</label>
    </li>
</ul>