<div class="row clearfix foot">
	<div class="constraint">
		<div class="column full">		
	        <ul class="footer-links">
	            <li><a href="">Home</a></li>
	            <li><a href="">Plans</a></li>
	            <li><a href="">About</a></li>
	            <li><a href="">Contact</a></li>
	        </ul>
	        <img class="logo" src="images/logo.gif">
	        <p>&copy; 2014. All rights reserved. </p>
	        
		</div>
	</div>
</div>