<div class="row clearfix head">
    <div class="constraint">
        <div class="column full">              
            <img class="logo" src="images/long_logo.png">
            <ul class="header-links">
                <li><a href="">Home</a></li>
                <li><a href="">Plans</a></li>
                <li><a href="">About</a></li>
                <li><a href="">Contact</a></li>
            </ul>
        </div>
    </div>
</div>