<!DOCTYPE html>
<html>
<head>
	<title>Login | BeLingual</title>
</head>
<body>
	<div class="row clearfix">
		<div class="column full">
			<form action="/login" method="post">
				<label>Username:</label>
		        <input id="username" type="text" name="username" value="admin" />
		        <br/>
		      </div>
		      <div>
		        <label>Password:</label>
		        <input id="password" type="password" name="password" value="admin"/>
		      </div>
		      <div>
		        <input id="loginButton" type="submit" value="Login" />
		      </div>
			</form>
		</div>
	</div>
	<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	<script src="https://cdn.socket.io/socket.io-1.0.6.js"></script>
	<script type="text/javascript">
		// Sample socket.io events
        var socket = io.connect('http://localhost');

        $('#loginButton').on('click', function () {
        	socket.emit('authenitcate', {
        		username: $('#username').val(),
        		password: $('#password').val()
        	})
        });

        socket.io('authetication', function (data) {
        	if (data.authenitcated) {
        		console.log('Login Sucessful');
        	} 
        })

	</script>
</body>
</html>