<!DOCTYPE html>
<html>
<head>
	<title>Login | BeLingual</title>
</head>
<body>
	<div class="row clearfix">
		<div class="column full">
			<form action="/login" method="post">
				<label>Username:</label>
		        <input type="text" name="username" value="admin" />
		        <br/>
		      </div>
		      <div>
		        <label>Password:</label>
		        <input type="password" name="password" value="admin"/>
		      </div>
		      <div>
		        <input type="submit" value="Submit" />
		      </div>
			</form>
		</div>
	</div>
</body>
</html>